開發環境：
1. Red Hat Linux 9.0
2. Apache 1.3.31
3. Mysql 3.23.58 
4. PHP 4.3.11 
5. Zend Optimizer v2.5.1
6. Zend Engine v1.3.0

安裝說明：
1. 更新程式
2. 測試
3. 完成

注意事項：
1. 無

測試平台：http://61.221.176.159:2527