<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.WM_10001ConnectionString"
            connectionString="Data Source=WM-DOT-NET;Initial Catalog=WM_10001;Persist Security Info=True;User ID=sa;Password=sunnet.sun"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>